<br><br>
<h1 style="text-align: center;">EDIT FORM</h1>
<div class="container" style="background-color:blue;">
<form>
  <div class="form-group">
    <label><h3>PRODUCT ID</h3></label><br>
    <input type="text" id="pid" placeholder="Enter id">
  </div>
    <div class="form-group">
      <label><h3>BRAND</h3></label><br>
      <input type="text" id="brand" placeholder="Enter brand">
    </div>
    <div class="form-group">
      <label><h3>MODEL</h3></label><br>
      <input type="text" id="model" placeholder="Enter model">
    </div>
    <div class="form-group">
        <label><h3>PRICE</h3></label><br>
        <input type="text" id="price" placeholder="Enter the price">
      </div><br> 
    <button type="submit" class="btn btn-dark" (click) = "edit()" ><h3>Submit</h3></button>
  </form>
</div>