<!--DISPLAY PRODUCT 1 SPECS-->
<span *ngIf="currentProductId==101">
    <br><br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">property</th>
                <th scope="col">value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BRAND</td>
                <td>{{datalist[0].brand}}</td>
            </tr>
            <tr>
                <td>MODEL</td>
                <td>{{datalist[0].model}}</td>
            </tr>
            <tr>
                <td>PRICE</td>
                <td>{{datalist[0].price}}</td>
            </tr>
        </tbody>
    </table>
</span>
<!--DISPLAY PRODUCT 2 SPECS-->
<span *ngIf="currentProductId==102">
    <br><br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">property</th>
                <th scope="col">value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BRAND</td>
                <td>{{datalist[1].brand}}</td>
            </tr>
            <tr>
                <td>MODEL</td>
                <td>{{datalist[1].model}}</td>
            </tr>
            <tr>
                <td>PRICE</td>
                <td>{{datalist[1].price}}</td>
            </tr>
        </tbody>
    </table>
</span>
<!--DISPLAY PRODUCT 3 SPECS-->
<span *ngIf="currentProductId==103">
    <br><br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">property</th>
                <th scope="col">value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BRAND</td>
                <td>{{datalist[2].brand}}</td>
            </tr>
            <tr>
                <td>MODEL</td>
                <td>{{datalist[2].model}}</td>
            </tr>
            <tr>
                <td>PRICE</td>
                <td>{{datalist[2].price}}</td>
            </tr>
        </tbody>
    </table>
</span>